<div class="wrapper">
  <form class="panel" (submit)="onSubmit($event)">
    <div class="panel-title">
      <h1>Добавить новую задачу</h1>
    </div>
    <div class="panel-info">
      <div class="form-group">
        <label for="task-name">Название</label>
        <input
          type="text"
          id="task-name"
          name="task-name"
          placeholder="Введите название задачи"
          [(ngModel)]="task.title"
        />
      </div>
      <div class="form-group">
        <label for="task-executor">Исполнитель</label>
        <input
          type="text"
          id="task-executor"
          name="task-executor"
          placeholder="Введите имя исполнителя"
          [(ngModel)]="task.executor"
        />
      </div>
      <div class="form-group">
        <label for="task-deadline">Сроки</label>
        <div class="task-deadline__date">
          <p>Начало</p>
          <input
            type="date"
            id="task-deadline-start"
            name="task-deadline-start"
            [(ngModel)]="task.deadline.start"
          />
          <p>Конец</p>
          <input
            type="date"
            id="task-deadline-end"
            name="task-deadline-end"
            [(ngModel)]="task.deadline.end"
          />
        </div>
      </div>
      <div class="form-group">
        <ng-container *ngIf="!isNewProject">
          <div class="task-project-name">
            <label for="task-project">Проект</label>
            <span (click)="toggleNewProject()">Новый проект?</span>
          </div>
          <select
            id="task-project"
            name="task-project"
            [(ngModel)]="task.project"
          >
            <option value="" selected disabled hidden>Выберите проект</option>
            <option *ngFor="let project of projects" [value]="project">
              {{ project }}
            </option>
          </select>
        </ng-container>
        <ng-container *ngIf="isNewProject">
          <div class="task-project-name">
            <label for="task-project">Название нового проекта</label>
            <span (click)="toggleNewProject()">Отмена</span>
          </div>
          <input
            type="text"
            id="task-project"
            name="task-project"
            [(ngModel)]="task.project"
          />
        </ng-container>
      </div>
      <div class="form-group">
        <label for="task-priority">Приоритет</label>
        <div class="priority">
          <button
            type="button"
            *ngFor="let priority of priorities"
            [class]="priorityDetails[priority].style"
            [ngClass]="{ active: activePriority === priority }"
            (click)="setPriority(priority)"
          >
            {{ priorityDetails[priority].text }}
          </button>
        </div>
        <input type="hidden" id="task-priority" name="task-priority" />
      </div>
      <div class="form-group">
        <label for="task-status">Статус</label>
        <div class="status">
          <button
            type="button"
            *ngFor="let status of statuses"
            [class]="statusDetails[status].style"
            [ngClass]="{ active: activeStatus === status }"
            (click)="setStatus(status)"
          >
            {{ statusDetails[status].text }}
          </button>
        </div>
        <input type="hidden" id="task-status" name="task-stasus" />
      </div>
    </div>
    <div class="panel-btn">
      <button type="button" class="btn-link back" (click)="goBack()">
        Отмена
      </button>
      <button type="submit" class="btn-link create">Создать задачу</button>
    </div>
  </form>
</div>
