@use "src/styles.scss";

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;

  @include styles.centring;

  .panel {
    width: 1280px;
    height: 720px;
    background: #efefef;
    margin: 30px;
    border-radius: 20px;

    position: relative;
    overflow: auto;

    display: flex;
    flex-direction: column;

    .filters {
      @include styles.centring;
      gap: 80px;

      cursor: pointer;

      .filter {
        width: 140px;
        height: 30px;
        background: #472750;
        color: rgb(255, 255, 255);

        @include styles.centring;

        border-radius: 0px 0px 6px 6px;

        transition: transform 0.3s ease;
      }

      .filter:hover {
        transform: translateY(5px);
        border-radius: 6px;
      }
    }

    .projects {
      margin: 20px;

      .project-title {
        font-size: 28px;
        font-weight: bold;
      }

      .project-tasks {
        display: flex;
        flex-direction: column;
        margin: 20px;

        text-decoration: none;
        color: black;

        .project-task {
          display: flex;
          justify-content: space-between;

          margin: 5px;
          background: white;
          padding: 20px;
          border-radius: 10px;

          transition: box-shadow 0.3s ease;

          .info {
            @include styles.centring;
            width: 200px;
            gap: 10px;
          }
        }

        .project-task:hover {
          box-shadow: 1px 1px 10px #36486b;
        }
      }
    }

    .add-btn {
      position: sticky;
      bottom: 15px;
      padding-right: 15px;

      display: flex;
      align-self: flex-end;
      justify-content: end;

      margin-top: auto;

      .btn-add-task {
        margin: auto;
        border-radius: 20px;
        background-color: #210275;
        // box-shadow: 1px 3px 15px #36486b;
        width: 50px;
        height: 50px;
        font-size: 25px;
        color: #bccad6;
        border: none;

        cursor: pointer;
      }

      .btn-add-task:hover {
        border: none;
        background-color: #017474;
        opacity: 1;
        color: #210275;

        transition: 0.2s ease-in-out;
      }
    }
  }

  .panel::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
  }

  .panel::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет полосы прокрутки */
    border-radius: 10px; /* Радиус скругления */
  }

  .panel::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет полосы прокрутки при наведении */
  }
}
